# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Makefile
.qmake.stash

src/ffDiaporama/Makefile.ffdiaporama
src/ffDiaporama/ffDiaporama
src/ffDiaporama/moc_DlgAbout.cpp
src/ffDiaporama/moc_DlgAdjustToSound.cpp
src/ffDiaporama/moc_DlgApplicationSettings.cpp
src/ffDiaporama/moc_DlgAutoTitleSlide.cpp
src/ffDiaporama/moc_DlgBackgroundProperties.cpp
src/ffDiaporama/moc_DlgChapter.cpp
src/ffDiaporama/moc_DlgCheckConfig.cpp
src/ffDiaporama/moc_DlgEditMusic.cpp
src/ffDiaporama/moc_DlgEditMusicNew.cpp
src/ffDiaporama/moc_DlgExportProject.cpp
src/ffDiaporama/moc_DlgFileExplorer.cpp
src/ffDiaporama/moc_DlgGMapsGeneration.cpp
src/ffDiaporama/moc_DlgGMapsLocation.cpp
src/ffDiaporama/moc_DlgImageComposer.cpp
src/ffDiaporama/moc_DlgImageCorrection.cpp
src/ffDiaporama/moc_DlgInfoFile.cpp
src/ffDiaporama/moc_DlgManageDevices.cpp
src/ffDiaporama/moc_DlgManageFavorite.cpp
src/ffDiaporama/moc_DlgManageStyle.cpp
src/ffDiaporama/moc_DlgMusicProperties.cpp
src/ffDiaporama/moc_DlgRenderVideo.cpp
src/ffDiaporama/moc_DlgRulerDef.cpp
src/ffDiaporama/moc_DlgSlideDuration.cpp
src/ffDiaporama/moc_DlgSlideProperties.cpp
src/ffDiaporama/moc_DlgTextEdit.cpp
src/ffDiaporama/moc_DlgTransitionDuration.cpp
src/ffDiaporama/moc_DlgTransitionProperties.cpp
src/ffDiaporama/moc_DlgWorkingTask.cpp
src/ffDiaporama/moc_DlgffDPjrProperties.cpp
src/ffDiaporama/moc_FFDFileExplorer.cpp
src/ffDiaporama/moc_FFDFolderTable.cpp
src/ffDiaporama/moc_FFDFolderTree.cpp
src/ffDiaporama/moc_FFDMultimediaBrowser.cpp
src/ffDiaporama/moc_HelpBrowser.cpp
src/ffDiaporama/moc_HelpContent.cpp
src/ffDiaporama/moc_HelpPopup.cpp
src/ffDiaporama/moc_QCustomFolderTable.cpp
src/ffDiaporama/moc_QCustomFolderTree.cpp
src/ffDiaporama/moc_QCustomRuler.cpp
src/ffDiaporama/moc_QMovieLabel.cpp
src/ffDiaporama/moc__Diaporama.cpp
src/ffDiaporama/moc__EncodeVideo.cpp
src/ffDiaporama/moc__Model.cpp
src/ffDiaporama/moc__QCustomDialog.cpp
src/ffDiaporama/moc__Transition.cpp
src/ffDiaporama/moc_cApplicationConfig.cpp
src/ffDiaporama/moc_cCFramingComboBox.cpp
src/ffDiaporama/moc_cCShapeComboBox.cpp
src/ffDiaporama/moc_cCustomBlockTable.cpp
src/ffDiaporama/moc_cCustomLocationTable.cpp
src/ffDiaporama/moc_cCustomShotTable.cpp
src/ffDiaporama/moc_cCustomSlideTable.cpp
src/ffDiaporama/moc_cCustomTextEdit.cpp
src/ffDiaporama/moc_cCustomTitleModelTable.cpp
src/ffDiaporama/moc_cImgInteractiveZone.cpp
src/ffDiaporama/moc_cInteractiveZone.cpp
src/ffDiaporama/moc_cQDateTimeEdit.cpp
src/ffDiaporama/moc_cShotComposer.cpp
src/ffDiaporama/moc_cThumbnailComboBox.cpp
src/ffDiaporama/moc_mainwindow.cpp
src/ffDiaporama/moc_predefs.h
src/ffDiaporama/moc_wgt_QEditImage.cpp
src/ffDiaporama/moc_wgt_QEditVideo.cpp
src/ffDiaporama/moc_wgt_QGMapsMap.cpp
src/ffDiaporama/moc_wgt_QMultimediaBrowser.cpp
src/ffDiaporama/moc_wgt_QVideoPlayer.cpp
src/ffDiaporama/qrc_RSCffDiaporama.cpp
src/ffDiaporama/ui_DlgAbout.h
src/ffDiaporama/ui_DlgAdjustToSound.h
src/ffDiaporama/ui_DlgApplicationSettings.h
src/ffDiaporama/ui_DlgAutoTitleSlide.h
src/ffDiaporama/ui_DlgBackgroundProperties.h
src/ffDiaporama/ui_DlgChapter.h
src/ffDiaporama/ui_DlgCheckConfig.h
src/ffDiaporama/ui_DlgEditMusic.h
src/ffDiaporama/ui_DlgExportProject.h
src/ffDiaporama/ui_DlgFileExplorer.h
src/ffDiaporama/ui_DlgGMapsGeneration.h
src/ffDiaporama/ui_DlgGMapsLocation.h
src/ffDiaporama/ui_DlgImageComposer.h
src/ffDiaporama/ui_DlgImageCorrection.h
src/ffDiaporama/ui_DlgInfoFile.h
src/ffDiaporama/ui_DlgManageDevices.h
src/ffDiaporama/ui_DlgManageFavorite.h
src/ffDiaporama/ui_DlgManageStyle.h
src/ffDiaporama/ui_DlgMusicProperties.h
src/ffDiaporama/ui_DlgRenderVideo.h
src/ffDiaporama/ui_DlgRulerDef.h
src/ffDiaporama/ui_DlgSlideDuration.h
src/ffDiaporama/ui_DlgSlideProperties.h
src/ffDiaporama/ui_DlgTextEdit.h
src/ffDiaporama/ui_DlgTransitionDuration.h
src/ffDiaporama/ui_DlgTransitionProperties.h
src/ffDiaporama/ui_DlgWorkingTask.h
src/ffDiaporama/ui_DlgffDPjrProperties.h
src/ffDiaporama/ui_FFDFileExplorer.h
src/ffDiaporama/ui_FFDMultimediaBrowser.h
src/ffDiaporama/ui_HelpPopup.h
src/ffDiaporama/ui_mainwindow.h
src/ffDiaporama/ui_wgt_QEditImageimage.h
src/ffDiaporama/ui_wgt_QEditVideo.h
src/ffDiaporama/ui_wgt_QGMapsMap.h
src/ffDiaporama/ui_wgt_QMultimediaBrowser.h
src/ffDiaporama/ui_wgt_QVideoPlayer.h
src/ffDiaporama_lib/moc_QCustomComboBox.cpp
src/ffDiaporama_lib/moc_QCustomHorizSplitter.cpp
src/ffDiaporama_lib/moc_cBackgroundComboBox.cpp
src/ffDiaporama_lib/moc_cBaseAppConfig.cpp
src/ffDiaporama_lib/moc_cBrushComboBox.cpp
src/ffDiaporama_lib/moc_cColorComboBox.cpp
src/ffDiaporama_lib/moc_cGrdOrientationComboBox.cpp
src/ffDiaporama_lib/moc_cSpeedWaveComboBox.cpp
src/ffDiaporama_lib/moc_cTexteFrameComboBox.cpp
src/ffDiaporama_lib/moc_predefs.h
